[class*="--flex"] {
  display: flex;
}

[class*="--flex"].col {
  flex-direction: column;
}

[class*="--flex"].row {
  flex-direction: row;
}

[class*="--grid"] {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.p15 {
  padding: 15px;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.col-100 {
  width: 100%;
}

[class*="--card"] {
  box-shadow: 0 0 0 transparent;
  font-size: .825rem;
  transition: box-shadow .2s ease;
  border: 1px solid #ddd;
  margin: 10px;
}

[class*="--card"]:hover {
  box-shadow: 0 2px 16px -2px rgba(0,0,0,.3);
  cursor: pointer;
}

[class*="--card"]:hover [class*="--null"] {
  border-top: 1px solid var(--first-color);
  background-color: var(--first-color);
  color: var(--clean-color);
}

[class*="--null"] span:first-child {
  text-transform: uppercase;
  font-weight: 700;
}

[class*="--null"] span:last-child {
  font-size: 1rem;
}

[class*="--card"] [class*="__data"] {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.card__image {
  padding: 5px;
}

[class*="--card"] [class*="__image"] img {
  display: block;
  max-width: 100%;
  //border-radius: .25rem .25rem 0 0;
}

.gamma [class*="__image"] img {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}

h3 {
  margin-bottom: .5rem;
}

[class~="--col"] {
  flex-direction: column;
}

.card__data .brand {
  font-weight: 700;
  font-size: .700rem;
}

.card__data .model {
  font-weight: 400;
}