.main-footer {
  //width: 100%;
  margin-top: 50px;
  border-top: 2px solid var(--border-color);
  height: 160px;
  //background-color: red;
}

.footer-container {
  padding-bottom: 50px;
}

.footer-container svg {
  fill: #999;
}