.gamma {
  padding-top: 50px;
  //padding-bottom: 50px;
}

.gamma__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 55px;
}

.gamma .price {
  color: var(--border-color);
}

.gamma .category {
  font-size: .700rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  //z-index: var(--z-tooltip);
}

.gamma__data h2,
.gamma__data a {
  z-index: var(--z-tooltip);
}